body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background: #f5f5f5;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 30px;
}

#versions {
  list-style: none;
  padding: 0;
}

#versions li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
